<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description}}{% endif %}">
        <link href="//fonts.googleapis.com/css?family=Merriweather:300,300italic,400|Montserrat:400" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.name }}">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
        <meta property="og:image" content="{{ site.url }}/assets/images/keyvan.jpg" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@keyvanakbary" />
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    </head>

    <body>
        <script>
            try {
                document.createEvent('TouchEvent')
            } catch (e) {
                document.body.className = 'touch-device';
            }
        </script>

        <div id="header">
            <div id="search-form">
                <a href="#toggle" id="toggle"><span></span></a>
                <span>
                    <button data-role="search-button"><span class="arrow right dark"></span></button>
                    <input type="text" data-role="search-input" placeholder="Buscar" />
                </span>
            </div>
            <div id="menu">
                <a href="/">Home</a>
                <a href="/acerca-de/">Acerca de</a>
            </div>
        </div>

        <div id="author">
            <a class="image-link rounded" href="/">
                <img src="/assets/images/keyvan.jpg" alt="Keyvan Akbary">
            </a>
            <a href="https://github.com/keyvanakbary" class="main-button"><i class="icon-github"></i> Follow</a>
            <p class="name">Keyvan Akbary</p>
            <p class="bio">Lead Dev at <a href="https://transferwise.com/" target="_blank">TransferWise</a><br/>Spaniard in London<br/>Built <a href="http://www.funddy.com" target="_blank">Funddy</a></p>

            <p class="bio">I wrote a book too</p>
            <a class="image-link rounded" href="https://leanpub.com/ddd-in-php">
              <img src="/assets/images/ddd-in-php.png"/>
            </a>
            <a href="https://leanpub.com/ddd-in-php" class="main-button">Learn more</a>
        </div>

        <div id="page">
            {{ content }}
            <div class="wrapper">
                <div class="post" id="footer">
                    <p>Copyright &copy; {{ site.time | date: "%Y" }}</p>
                </div>
            </div>
        </div>

        <script src="/js/lunr.min.js"></script>
        <script src="/search.js"></script>
        <script>
            (function() {
                function viewportOffset() {
                    if (window.pageYOffset) {
                        return window.pageYOffset;
                    }

                    return (document.documentElement || document.body.parentNode || document.body).scrollTop;
                }

                function headerIsHidden(profile) {
                    var
                        profileOffsetHeight = parseInt(profile.offsetHeight) + 100,
                        innherHeight = window.innerHeight || document.documentElement.clientHeight;

                    return viewportOffset() >= 90 && innherHeight >= profileOffsetHeight;
                }

                function isOnBigScreen() {
                    var innherWidth = window.innerWidth || document.documentElement.clientWidth;

                    return innherWidth >= 1100;
                }

                function relocateProfile() {
                    var profile = document.getElementById('author');
                    if (isOnBigScreen() && headerIsHidden(profile)) {
                        profile.classList.add('floating');
                    } else {
                        profile.classList.remove('floating');
                    }
                }

                function searchFor(query) {
                    var result = idx.search(query);
                    if (result && result.length > 0) {
                        window.location.replace(result[0].ref);
                    } else {
                        alert('No se han encontrado resultados');
                    }
                }

                function listenOn(elemId, event, fn) {
                    document.getElementById(elemId).addEventListener(event, fn, false);
                }

                function toggleAttribute(elem, attribute) {
                    if (elem.hasAttribute(attribute)) {
                        elem.removeAttribute(attribute);
                    } else {
                        elem.setAttribute(attribute, true);
                    }
                }

                function toggleHeader(e) {
                    e.preventDefault();
                    if (document.body.hasAttribute('data-menu')) {
                        document.body.removeAttribute('data-menu');
                    } else {
                        document.body.setAttribute('data-menu', true);
                    }
                }

                function doSearch(e) {
                    e.preventDefault();
                    searchFor(this.parentNode.querySelector('[data-role=search-input]').value);
                }

                function doSearchOnEnter(e) {
                    var ENTER_CODE = 13;
                    if (e.which === ENTER_CODE) {
                        e.preventDefault();
                        searchFor(this.value);
                    }
                }

                window.addEventListener('load', relocateProfile);
                window.addEventListener('resize', relocateProfile);
                window.addEventListener('scroll', relocateProfile);

                listenOn('toggle', 'click', toggleHeader);
                [].forEach.call(document.querySelectorAll('[data-role=search-button]'), function(button) {
                    button.addEventListener('click', doSearch, false);
                });
                [].forEach.call(document.querySelectorAll('[data-role=search-input]'), function(input) {
                    input.addEventListener('keypress', doSearchOnEnter, false);
                });
            }());
        </script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25500345-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
